body, .b
{
  font-size: 1.5rem;
}
.idf
{
  background-color: #2574A9;
}
.adf
{
  background-color: #9A12B3;
}
.r
{
  background-color: #DB0A5B;
}
li
{
  margin-bottom: 5px;
}
#visa, #mastercard
{
  margin-left: 70px;
}
